<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>tweetZero</title>
    <link rel="stylesheet" type="text/css" href="/styles/general.styles.css" />
    <link href="https://fonts.googleapis.com/css?family=Courgette|Montserrat|Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9d08560bdc.js" crossorigin="anonymous"></script>
</head>


<body>
    <header>
        <div class="brand">
            <i class="fab fa-twitter"></i>
            <h1>tweetZero</h1>
        </div>
    </header>

    <section id="content">
        <h1 class="page-title">{{this.pageTitle}}</h1>
        {{{body}}}
    </section>

</body>

</html>